

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(imagenes/ba1.jpg);
    background-position: center; 
    background-size: cover;
    height: 900px;
}

.img-card{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


footer{
    background-color: rgb(6, 102, 131);
    font-size: small;
}

.a-reset{
    color: white;
    text-decoration: none;
    
}